:root {
  --main-color: #FFFFFF;
  --border-header-line: #ECECEC;
  --second-main-color: #2196F3;
  --title-main-color: #212121;
  --main-text-color: #757575;
  --logo-color: #000000;
  --background-color: #2F303A;
  --background-second-color: #F5F5F5;
  --background-third-color: #F5F4FA;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --tipical-lh: 1.19;
  --secondtipical-lh: 1.14;
  --main-font: "Roboto", sans-serif;
}

:root {
  --main-color: #FFFFFF;
  --border-header-line: #ECECEC;
  --second-main-color: #2196F3;
  --text-color: #757575;
  --head-color: #212121;
  --logo-color: #000000;
  --btn-color: #F5F4FA;
  --background-footer-color: #2F303A;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --tipical-lh: 1.19;
  --secondtipical-lh: 1.14;
  --main-font: "Roboto", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.model-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.model-btn:hover, .model-btn:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close-icon {
  height: 18px;
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  justify-content: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .form-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-title {
    margin-bottom: 30px;
    justify-content: center;
  }
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 11px;
  padding-left: 42px;
  font: inherit;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}
.form-input:focus {
  border: 1px solid var(--second-main-color);
}
@media screen and (min-width: 480px) {
  .form-input {
    padding: 11px;
  }
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.icon-form {
  position: absolute;
  height: 18px;
  top: 50%;
  left: 12px;
  display: inline-block;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .icon-form {
  fill: var(--second-main-color);
}

.form-comment {
  position: relative;
}

.commentar {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.form-area {
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 4px;
  display: block;
}
.form-area:focus {
  border: 1px solid var(--second-main-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 480px) {
  .form-area {
    height: 120px;
  }
}

textarea {
  resize: none;
}

.form-checkbox {
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .form-checkbox {
    padding-top: 20px;
  }
}

.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 480px) {
  .label-check {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .label-check {
    font-size: 14px;
    justify-content: center;
  }
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .input-checkbox {
    margin: -1px;
  }
}
@media screen and (min-width: 1200px) {
  .input-checkbox {
    position: absolute;
  }
}

.icon-checkbox {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.input-checkbox:checked + .icon-checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check-0.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy {
  font-size: 14px;
  line-height: 1.71;
  margin-left: 5px;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}
@media screen and (min-width: 480px) {
  .policy {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
  }
}

.form-btn {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--second-main-color);
  border: none;
  border-radius: 4px;
  margin: 30px auto 0;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 480px) {
  .form-btn {
    min-width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 30px auto 0;
  }
}

.customers {
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0 94px 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .customers-title {
    font-size: 36px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .customers-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 150px) / 6);
  }
}

.customers-logo {
  margin: 0;
  width: 290px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo:hover, .customers-logo:focus {
  color: var(--second-main-color);
  border-color: var(--second-main-color);
}
@media screen and (min-width: 480px) {
  .customers-logo {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers-logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-logo {
    width: 170px;
  }
}

.customers-icon {
  fill: currentColor;
  height: 60px;
}

.feature {
  background-color: var(--main-color);
  padding-top: 94px;
  padding-bottom: 47px;
}
@media screen and (min-width: 480px) {
  .feature {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding: 94px 0;
  }
}

@media screen and (min-width: 480px) {
  .feature__container {
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .feature__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__container {
    width: 1200px;
  }
}

.feature__list {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .feature__list {
    flex-wrap: wrap;
    max-width: 480px;
    margin: 0 auto;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 768px;
    margin: -15px;
    padding-left: 0;
    list-style: none;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 1170px;
    margin: 0;
  }
}

.feature__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
  }
}

.feature__head {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-main-color);
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}
@media screen and (min-width: 480px) {
  .feature__head {
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 480px) {
  .feature__text {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    width: 270px;
    height: 72px;
  }
}

.feature__logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--background-third-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .feature__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .feature__logo {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .feature__logo {
    width: 100%;
  }
}

.feature__icons {
  height: 70px;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  align-items: center;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.tab.jpg);
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  max-width: 696px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero__head {
    width: 360px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__head {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  background-color: var(--second-main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-color);
  border-color: transparent;
  border-radius: 4px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 480px) {
  .hero__btn {
    font-size: 16px;
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    font-size: 16px;
    width: 216px;
  }
}

.ourwork {
  background-color: var(--main-color);
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .ourwork {
    display: block;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .ourwork__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.ourwork-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-main-color);
}
@media screen and (min-width: 1200px) {
  .ourwork-title {
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
}

.ourwork-list {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .ourwork-list {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
  }
}

.ourwork-link {
  position: relative;
  display: block;
  line-height: 0;
}
@media screen and (min-width: 1200px) {
  .ourwork-link {
    position: relative;
  }
}

.ourwork-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .ourwork-text {
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
  }
}

.team {
  background-color: var(--background-third-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  background-color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--second-main-color);
}

.team-soc-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: #FFFFFF;
}

.portfolio {
  background-color: var(--main-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item-img {
  flex-basis: calc((100% - 60px) / 3);
}

.porfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-link:hover, .porfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn {
  background-color: var(--btn-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--head-color);
  border-color: transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--main-color);
  background-color: var(--second-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--head-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-header-line);
  border-bottom: 1px solid var(--border-header-line);
  border-left: 1px solid var(--border-header-line);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-item {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  font-family: var(--main-font);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  height: 100%;
  letter-spacing: 0.03em;
  color: #ffffff;
  flex-direction: column-reverse;
  align-content: flex-start;
  flex-wrap: nowrap;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-link:hover .overlay-text, .porfolio-link:focus .overlay-text {
  transform: translateY(0);
}

.header {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--border-header-line);
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
@media screen and (min-width: 480px) {
  .navigation__logo {
    padding: 16px 0;
  }
}

.menu__item .menu__link.current {
  color: var(--second-main-color);
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.02em;
  color: var(--title-main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--second-main-color);
}
.menu__link.current.link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-bottom: -1px;
  background-color: var(--second-main-color);
}

.mail__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail__contact:hover, .mail__contact:focus {
  color: var(--second-main-color);
}
@media screen and (min-width: 768px) {
  .mail__contact {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 12px;
    gap: 10px;
  }
}

.tel__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel__contact:hover, .tel__contact:focus {
  color: var(--second-main-color);
}
@media screen and (min-width: 768px) {
  .tel__contact {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 12px;
    gap: 10px;
  }
}

.menu {
  display: none;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-left: 90px;
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

.menu__contacts {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .menu__contacts {
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
    gap: 30px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conect {
  display: flex;
  margin-left: auto;
}

.connect {
  margin-left: auto;
  display: flex;
  gap: 30px;
  align-items: center;
}

.icon__mail {
  fill: currentColor;
  width: 16px;
  height: 12px;
}
@media screen and (min-width: 768px) {
  .icon__mail {
    width: 14px;
    height: 10px;
  }
}

.icon__tell {
  fill: currentColor;
  width: 10px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .icon__tell {
    width: 10px;
    height: 14px;
  }
}

.menu__icon__open {
  margin-left: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.menu__icon__open:hover, .menu__icon__open:focus {
  fill: var(--second-main-color);
}
@media screen and (min-width: 768px) {
  .menu__icon__open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 40px 10px;
}
@media screen and (min-width: 480px) {
  .mob-menu {
    padding: 48px 40px;
  }
}

.mob-menu > .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .mob-menu > .container {
    height: 100%;
  }
}

.mob-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: flex;
  top: 1px;
  right: 16px;
  display: block;
  margin-left: 0;
  fill: currentColor;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-btn:hover, .mob-btn:focus {
  fill: var(--second-main-color);
}
@media screen and (min-width: 480px) {
  .mob-btn {
    top: 10px;
    right: 15px;
  }
}

.mob-btn {
  margin-left: auto;
  display: block;
  border-color: transparent;
  border: none;
}

.mob-menu__list {
  margin-bottom: 50px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (min-width: 480px) {
  .mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--second-main-color);
}
@media screen and (min-width: 480px) {
  .mob-menu__link {
    font-size: 40px;
  }
}

.mob-connect {
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .mob-connect {
    margin-bottom: 64px;
  }
}

.mob-mail__contact {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-mail__contact:hover, .mob-mail__contact:focus {
  color: var(--second-main-color);
}

.mob-tel__contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #188ce8;
}
@media screen and (min-width: 480px) {
  .mob-tel__contact {
    font-size: 34px;
  }
}

.mob__soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob__soc-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #188ce8;
}
@media screen and (min-width: 480px) {
  .mob__soc-link {
    font-size: 18px;
  }
}

.mob__soc-line::before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  height: 1px;
  width: 22px;
  margin-right: 10px;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}
.footer-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link:hover, .footer-address-link:focus {
  color: var(--second-main-color);
}

.footer-address-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-contact:hover, .footer-address-contact:focus {
  color: var(--second-main-color);
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-text {
    text-align: left;
  }
}

.footer-soc {
  display: block;
  margin: 60px 0;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin: 0;
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-left: 70px;
  }
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-soc-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--second-main-color);
}

.footer-conteiner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.address-conteiner {
  display: block;
}
@media screen and (min-width: 1200px) {
  .address-conteiner {
    text-align: left;
  }
}

.footer-soc-icon {
  fill: var(--main-color);
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top {
    margin-bottom: 0;
  }
}

.footer-email {
  flex-wrap: wrap;
}

.followus {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .followus {
    text-align: left;
    display: flex;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .btn-icon {
    flex-direction: row;
    gap: 12px;
  }
}

.input-email {
  padding: 15px 16px;
  width: 450px;
  margin: 20px 0;
  background-color: inherit;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
  }
}

.subscribe {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--second-main-color);
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-send {
  fill: var(--main-color);
  height: 24px;
}

.header {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--border-header-line);
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
@media screen and (min-width: 480px) {
  .header-logo {
    padding: 16px 0;
  }
}

.header-logo {
  margin-right: 93px;
  display: block;
}

.header-item .menu__link.current {
  color: var(--second-main-color);
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.02em;
  color: var(--head-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--second-main-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover, .header-mail:focus {
  color: var(--second-main-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover, .header-tel:focus {
  color: var(--second-main-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-conect {
  margin-left: auto;
}

.header-connect-mail {
  height: 12px;
}

.header-connect-tell {
  height: 16px;
}

.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1199px) {
  .footer {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--tipical-lh);
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-link:hover, .footer-address-link:focus {
  color: var(--second-main-color);
}

.footer-address-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-contact:hover, .footer-address-contact:focus {
  color: var(--second-main-color);
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-text {
    text-align: left;
  }
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-soc-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--second-main-color);
}

.footer-conteiner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.footer-soc-icon {
  fill: var(--main-color);
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top {
    margin-bottom: 0;
  }
}

.footer-email {
  flex-wrap: wrap;
}

.followus {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--secondtipical-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .followus {
    text-align: left;
    display: flex;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .btn-icon {
    flex-direction: row;
    gap: 12px;
  }
}

.input-email {
  padding: 15px 16px;
  width: 450px;
  margin: 20px 0;
  background-color: inherit;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--main-color);
}
@media screen and (min-width: 1199px) {
  .input-email {
    width: 358px;
  }
}

.subscribe {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--second-main-color);
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-send {
  fill: var(--main-color);
  height: 24px;
}/*# sourceMappingURL=main.css.map */