.customers {
    padding: 60px 0 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0 94px 0;
    }
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 480px;    
    } 
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px)  {
        width: 1200px;
    }
}

.customers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
       font-size: 36px;
       margin-bottom: 50px;
}
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.customers-item {
    @media screen and (min-width: 480px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.customers-logo {
    margin: 0;
    width: 290px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color:var(--second-main-color);
    border-color: var(--second-main-color);
}
    @media screen and (min-width: 480px) {
       width: 210px;
       
    }
    @media screen and (min-width: 768px) {
       width: 226px;
    }
    @media screen and (min-width: 1200px) {
       width: 170px;
}
}

.customers-icon {
    fill: currentColor;
    height: 60px;
}

