:root {
    --main-color: #FFFFFF;
    --border-header-line: #ECECEC;
    --second-main-color: #2196F3;
    --title-main-color: #212121;
    --main-text-color: #757575;
    --logo-color: #000000;
    --background-color: #2F303A;
    --background-second-color: #F5F5F5;
    --background-third-color: #F5F4FA;
    --text-footer-color: rgba(255, 255, 255, 0.6); 
    --tipical-lh: 1.19;
    --secondtipical-lh: 1.14;
    --main-font: 'Roboto', sans-serif;     
    }