.footer {
    background-color: var(--background-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    }
    @media screen and (min-width: 1199px) {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
    }
    }
    
 span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: var(--tipical-lh);
    letter-spacing: 0.03em;
    color: var(--second-main-color);
    }
    
    .footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: var(--tipical-lh);
    letter-spacing: 0.03em;
    color: var(--main-color); 
    margin-bottom: 20px;
    }
    .footer-address {
    font-style: normal;
    margin-top: 20px;
    }
    
    .footer-address-item:not(:last-child) {
        margin-bottom: 9px;
        
    }
    .footer-address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--second-main-color);
    }
    }

    .footer-address-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-address-color);
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--second-main-color);
    }
    }
    
    .footer-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        @media screen and (min-width: 1200px) {
        text-align: left;
        }
        }
        
    .footer-soc-list {
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
    }
        
    .footer-soc-item {
     display: flex;
     justify-content: center;
     gap: 10px;
    }
        
    .footer-soc-link {
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     display: flex;
     align-items: center;
     justify-content: center;
     outline: none;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
     background-color:var(--second-main-color);
    }
    }
        
    .footer-conteiner {
     //display: flex;
     //align-items: baseline;
        display: flex;
        flex-direction: column;
        text-align: center;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin: 0 auto;
        gap:93px;
    }
    }
        
    .footer-soc-icon {
     fill:var(--main-color);
     width: 20px;
     height: 20px;
    }
        
    .footer-top {
        @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    }
    }
    
    .footer-email {
        //margin-left: 93px;
        //display: flex;
        flex-wrap: wrap;
    }
    
    .followus {
        display: block;
        //margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: var(--secondtipical-lh);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--main-color);
        margin-bottom: 20px;
        @media screen and (min-width: 1200px) {
        text-align: left;
    }
    
    }
    
    .btn-icon {
        display: flex;
        //gap: 12px;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 12px;
    }
    }
    
    .input-email {
        padding: 15px 16px;
        width: 450px;
        background-color: inherit;
        outline: transparent;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color:var(--main-color);
        @media screen and (min-width: 1199px) {
        width: 358px;
    }
    }
    
    .subscribe {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        min-width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        background-color:var(--second-main-color);
        border-radius: 4px;
        color: #ffffff;
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        &:hover {
            background-color: #188ce8;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        }
        @media screen and (min-width: 480px) {
            margin-top: 20px;
        } 
        @media screen and (min-width: 768px) {
            margin-top: 20px;
        } 
        @media screen and (min-width: 1200px) {
            margin-top: 0;
        }          
    }
    
    
    
    .btn-send {
        fill:var(--main-color);
        height: 24px;
    }